@keyframes aparecer {
  0% {
    opacity: 0%; }
  25% {
    opacity: 25%; }
  50% {
    opacity: 50%; }
  75% {
    opacity: 75%; }
  100% {
    opacity: 100%; } }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  body hr {
    color: white;
    width: 70vw;
    margin: 1vh 10vw 1vh 10vw; }
  body .aparecer {
    animation-name: aparecer;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-delay: 0s; }
  body .subtitulo {
    letter-spacing: 0.5vh;
    color: #C98688;
    font-weight: bold; }
  body .comicsub {
    text-shadow: #4b4b4b -2px 0px; }
  body small {
    font-family: "Spartan", sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    letter-spacing: 1px; }
  body .opacidad {
    opacity: 85%; }
  body .redes {
    padding: 0vh 1vh 0vh 1vh;
    opacity: 70%; }
  body .redes:hover {
    transition: opacity 1s;
    opacity: 90%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s; }
  body .redes--img {
    width: 35px; }

header .header__logo {
  width: 60px;
  height: 60px;
  margin-right: 3vh; }

header h1 {
  color: #FFFF;
  font-size: 1.5em;
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  margin: 0vh;
  font-weight: bold; }

header .header__navstyle {
  font-family: "Spartan", sans-serif;
  font-weight: bold; }

header .header__navstyle--sub {
  color: white; }

header .header__navstyle--sub:active {
  background-color: #C98688;
  opacity: 55%; }

header .header__navstyle--pad {
  padding-left: 3vw; }

footer .footer--font {
  font-style: italic;
  font-family: #rounded; }

main {
  height: 70vh; }
  main h2 {
    font-family: "Spartan", sans-serif; }

.shop .shop__img {
  padding: 0.5vh;
  border-radius: 60px;
  filter: grayscale(20%); }

.shop .shop__promos .shop__promos--boton {
  background-color: grey;
  border: solid 2px lightgrey; }

.shop .shop__promos .shop__promos--boton:hover {
  background-color: #4B4B4B;
  border-color: grey; }

.shop .shop__promos .shop__promos--boton:focus {
  background-color: #4B4B4B;
  border-color: lightgrey;
  box-shadow: 0 0 0 0.25rem; }

.shop .shop__promos .shop__promos--boton:active {
  background-color: #C98688;
  border-color: lightgrey;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.shop .shop__promos .shop__table {
  color: grey; }
  .shop .shop__promos .shop__table tr th {
    color: #C98688; }

.biografia {
  background-image: url(../media/biogrande.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 20px white; }
  .biografia .parrafo {
    background-color: rgba(255, 255, 255, 0.75);
    border: solid 1px #4B4B4B; }
    .biografia .parrafo h5 {
      text-shadow: #4b4b4b -2px 0px; }
    .biografia .parrafo p {
      color: #4B4B4B; }

.contacto .cuadro--back {
  background-color: rgba(0, 0, 0, 0.2); }

.contacto .cuadro {
  border: solid 2px white;
  height: 300px;
  width: 300px; }
  .contacto .cuadro h4 {
    text-shadow: #4b4b4b -2px 0px; }
  .contacto .cuadro .cuadro__form {
    resize: none;
    height: 50%; }
  .contacto .cuadro .cuadro__form:focus {
    border-color: #C98688;
    box-shadow: 0 0 0 0.25rem #e1afb0;
    opacity: 80%;
    resize: none; }
  .contacto .cuadro .cuadro__button {
    background-color: white;
    border: none;
    color: #C98688;
    font-weight: bold; }
  .contacto .cuadro .cuadro__button:focus {
    border: none; }

.Tradimg {
  width: 250px;
  opacity: 85%;
  border-radius: 25px;
  transition: 1s;
  -webkit-filter: grayscale(60%); }

.Tradimg:hover {
  transition: filter 1s;
  -webkit-filter: grayscale(0%);
  transition-timing-function: ease; }

@media only screen and (max-width: 479px) {
  body {
    background-image: url(../media/index-cel.JPG); }
    body .main__portada {
      width: 70vw; }
    body .biografia {
      background-image: url(../media/biosmall.jpg);
      width: 90vw;
      background-size: cover;
      border: solid 2px white; }
      body .biografia .parrafo {
        width: 85vw;
        margin: 2vh; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-image: url(../media/indexfull.jpg); }
    body .main__portada {
      width: 30vw; }
    body .biografia {
      width: 80vw;
      background-image: url(../media/biosmall.jpg);
      background-size: cover;
      border: solid 10px white; }
      body .biografia .parrafo {
        width: 60vw; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-image: url(../media/index-cel.JPG); }
    body .main__portada {
      width: 30vw; }
    body .carousel {
      width: 50vw; }
    body h5, body p {
      font-size: 1.2em; }
    body .header__navstyle {
      letter-spacing: 2px; }
    body .biografia {
      height: 70vh;
      background-position: center; }
      body .biografia .parrafo {
        width: 75vw; }
        body .biografia .parrafo p {
          font-size: 1em; }
    body .contacto {
      height: 70vh; } }

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  body {
    background-image: url(../media/indexfull.JPG); }
    body .main__portada {
      width: 30vw; }
    body .biografia {
      height: 70vh;
      width: 80vw;
      background-position: center; }
      body .biografia .parrafo {
        width: 60vw; }
    body .contacto {
      height: 60vh; } }

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  body {
    background-image: url(../media/indexfull.JPG); }
    body .main__portada {
      width: 25vw; }
    body .biografia {
      height: 75vh;
      width: 50vw; }
      body .biografia .parrafo {
        width: 30vw; }
    body .contacto {
      height: 60vh; } }

@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../media/indexfull.JPG); }
    body .main__portada {
      width: 20vw; }
    body .biografia {
      height: 70vh;
      width: 40vw; }
      body .biografia .parrafo {
        width: 30vw; }
    body .contacto {
      height: 60vh; } }
