$salmon: #C98688;
$salmonlight: #e2b0b1;
$darkgrey: #4B4B4B;
$opacidad: 0.5;
$blanco: #FFFF;
$rounded: 'Spartan', sans-serif;

@keyframes aparecer {
	0% {opacity:0%;}
	25% {opacity:25%;}
	50% {opacity:50%;}
	75% {opacity:75%;}
	100% {opacity:100%;}
	}


body{
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;

	hr{
		color: grey;
		width: 70vw;
		margin: 1vh 10vw 1vh 10vw;
	}

	.aparecer{
		animation-name: aparecer;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 1s;
		animation-delay: 0s;
	}

	.subtitulo{
		letter-spacing: 0.5vh;
		color: $salmon;
		font-weight: bold;
	}

	small{
		font-family: $rounded;
		font-weight: bold;
		font-size: 0.7em;
		letter-spacing: 1px;
	}
	.opacidad{
		opacity:85%;
	}
}

	header{
		.header__logo{
			margin-right: 2vh;
			opacity: 85%;
			height: 100%;
		}
		h1{
			color: $darkgrey;
			font-size: 1.3em;
			font-family: $rounded;
			font-weight: bold;
			letter-spacing: 4px;
			margin: 0vh;
			font-weight: bold;
		}
			//Navbar
		.header__redes{
			opacity: 70%;
		}
		.header__redes:hover{
			transition: opacity 1s;
			opacity: 90%;
		}
		.header__redes--img{
			width: 35px;
			margin-right: 1vh;			
		}
		.header__navstyle{
			font-family: $rounded;
			color: grey;
			font-weight: bold;
		}
		.header__navstyle--sub:active{
			background-color: $salmon;
			opacity: 55%;
		}
		.header__navstyle--pad{
			padding-left: 3vw;
		}
	}

	//footer
	footer{
		.footer--font{
			font-style: italic;
			font-family: #rounded;
		}
	}

	//Index
		main{
			height: 75vh;
			
			.main__portada{
				filter: grayscale(20%);
				opacity: 85%;
				-webkit-filter: grayscale(20%);
		}

	}

	//Shop
		.shop{

			.shop__img{
				padding: 0.5vh;
				border-radius: 60px;
				filter: grayscale(20%);
			}

			.shop__promos{

				.shop__promos--boton{
					background-color: grey;
					border: solid 2px lightgrey;
				}
				.shop__promos--boton:hover {
					background-color: #4B4B4B;
				    border-color: grey;
				}
				.shop__promos--boton:focus {
				    background-color: #4B4B4B;
				    border-color: lightgrey;
				    box-shadow: 0 0 0 0.25rem;
				}
				.shop__promos--boton:active {
				    background-color: #C98688;
				    border-color: lightgrey;
				    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				}
				.shop__table{
					color: grey;
					tr th{
						color: $salmon;
					}
				}
			}
		}

	//Bio

	.biografia{
		background-image: url(../media/biogrande.jpg);
		background-repeat: no-repeat;
		background-color: rgba($blanco, $opacidad);
		.parrafo{
			background-color: rgba($blanco, $opacidad);
			border: solid 1px $darkgrey;
			h5{
				text-shadow: $darkgrey -2px 0px;
			}
		}
	}

	//Contacto
		.cuadro{
			border: solid 1px lightgrey;
			height: 300px;
			width: 300px;
			.cuadro__form{
				resize: none;
				height: 50%;
			}
			.cuadro__form:focus{
				border-color: $salmonlight;
				box-shadow: 0 0 0 0.25rem rgb(225, 175, 176);
				opacity: 80%;
				resize: none;
			}
			.cuadro__button{
				background-color: white;
				border: none;
				color: $salmonlight;
				font-weight: bold;
			}
			.cuadro__button:focus{
				border: none;
			}
		}
	//Galeria
		.Tradimg{
			width: 250px;
			opacity: 85%;
			border-radius: 25px;
			transition: 1s;
			-webkit-filter: grayscale(60%);
		}
		.Tradimg:hover{
			transition: filter 1s;
			-webkit-filter: grayscale(0%);
			transition-timing-function: ease;
		}

	// Celulares
	@media only screen and (max-width: 576px){
		.biografia{
			background-image: url(../media/biosmall.jpg);
			.parrafo{
				width: 85vw;
				margin: 2vh;
			}
		}

		main{
			background-image: url(../media/index-cel.JPG);
			background-repeat: no-repeat;
			background-size: 100vw;
			background-color: $blanco;
			background-color: rgba($blanco, $opacidad);
		}

	}

	// IPad, Notebooks
	@media only screen and (min-width: 768px) and (max-width: 1024px){
		.carousel{
			width: 50vw;
		}
		h5, p{
			font-size: 1.2em;
		}
		.header__navstyle{
			letter-spacing: 2px;
		}
		.biografia{
			background-size: 85vw;
			height: 70vh;
			.parrafo{
				width: 75vw;
				p{
					font-size: 1em;
				}
			}
		}
	}

	// PC, IPad Pro
	@media only screen and (min-width: 1024px){
		.biografia{
			height: 70vh;
				.parrafo{
					width: 60vw;
				}
			}
		}

	// PC XL
	@media only screen and (min-width: 1280px){
	.biografia{
		height: 70vh;
			.parrafo{
				width: 30vw;
			}
		}
	}