$salmon: #C98688;
$salmonlight: #e2b0b1;
$darkgrey: #4B4B4B;
$opacidad: 0.75;
$blanco: #FFFF;
$rounded: 'Spartan', sans-serif;
$comicsub: #4b4b4b -2px 0px;

@keyframes aparecer {
	0% {opacity:0%;}
	25% {opacity:25%;}
	50% {opacity:50%;}
	75% {opacity:75%;}
	100% {opacity:100%;}
	}


body{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	background-image: url(../media/indexfull.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	hr{
		color: white;
		width: 70vw;
		margin: 1vh 10vw 1vh 10vw;
	}

	.aparecer{
		animation-name: aparecer;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 1s;
		animation-delay: 0s;
	}

	.subtitulo{
		letter-spacing: 0.5vh;
		color: $salmon;
		font-weight: bold;
		font-size: 1.3em;
	}

	.comicsub{
		text-shadow: $comicsub;
	}

	small{
		font-family: $rounded;
		font-weight: bold;
		font-size: 0.7em;
		letter-spacing: 1px;
	}
	.opacidad{
		opacity:85%;
	}
	.redes{
		padding: 0vh 1vh 0vh 1vh;
		opacity: 70%;
	}
	.redes:hover{
		transition: opacity 1s;
		opacity: 90%;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		-ms-transition: opacity 1s;
		-o-transition: opacity 1s;
	}
	.redes--img{
		width: 35px;			
	}


	header{
		.header__logo{
			width: 60px;
			height: 60px;
			margin-right: 3vh;
		}
		h1{
			color: $blanco;
			font-size: 1.5em;
			font-family: $rounded;
			font-weight: bold;
			letter-spacing: 4px;
			margin: 0vh;
			font-weight: bold;
		}
			//Navbar
		.header__navstyle{
			font-family: $rounded;
			font-weight: bold;
		}
		.header__navstyle--sub{
			color: white;
		}

		.header__navstyle--sub:active{
			background-color: $salmon;
			opacity: 55%;
		}
		.header__navstyle--pad{
			padding-left: 3vw;
		}
	}

	//footer
	footer{
		.footer--font{
			font-style: italic;
			font-family: #rounded;
		}
	}

	//Index
		main{
			height: 70vh;
			h2{
				font-family: $rounded;
			}

	}

	//Shop
		.shop{

			.shop__img{
				border: solid 2px white;
				border-radius: 20%;
				filter: grayscale(30%);
				-webkit-border-radius: 20%;
				-moz-border-radius: 20%;
				-ms-border-radius: 20%;
				-o-border-radius: 20%;
				-webkit-filter: grayscale(30%);
	}

			.shop__promos{

				.shop__promos--boton{
					background-color: grey;
					border: solid 2px lightgrey;
				}
				.shop__promos--boton:hover {
					background-color: #4B4B4B;
				    border-color: grey;
				}
				.shop__promos--boton:focus {
				    background-color: #4B4B4B;
				    border-color: lightgrey;
				    box-shadow: 0 0 0 0.25rem;
				}
				.shop__promos--boton:active {
				    background-color: #C98688;
				    border-color: lightgrey;
				    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				}
				.shop__table{
					color: white;
					tr th{
						color: $salmon;
					}
				}
			}
		}

	//Bio

	.biografia{
		background-image: url(../media/biogrande.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		border: solid 20px white;
		.parrafo{
			background-color: rgba($blanco, $opacidad);
			border: solid 1px $darkgrey;
			h5{
				text-shadow: $comicsub
			}
			p{
				color: $darkgrey;
			}
		}
	}

	//Contacto
		.contacto{

			.cuadro--back{
				background-color: rgba(black, 0.2);
			}
			.cuadro{
				border: solid 2px white;
				height: 300px;
				width: 300px;
				
				h4{
					text-shadow: $comicsub
				}
				.cuadro__form{
					resize: none;
					height: 50%;
				}
				.cuadro__form:focus{
					border-color: $salmon;
					box-shadow: 0 0 0 0.25rem rgb(225, 175, 176);
					opacity: 80%;
					resize: none;
				}
				.cuadro__button{
					background-color: white;
					border: none;
					color: $salmon;
					font-weight: bold;
				}
				.cuadro__button:focus{
					border: none;
				}
			}
		}
	//Galeria
		.Tradimg{
			border: solid 2px white;
			width: 250px;
			opacity: 85%;
			border-radius: 25px;
			transition: 1s;
			-webkit-filter: grayscale(60%);
		}
		.Tradimg:hover{
			transition: filter 1s;
			-webkit-filter: grayscale(0%);
			transition-timing-function: ease;
		}

}
	// -------------------asdasd-------------------------  Celulares
	@media only screen and (max-width: 479px){
		body{
			background-image: url(../media/index-cel.JPG);
			.main__portada{
				width: 70vw;
			}
			.biografia{
				background-image: url(../media/biosmall.jpg);
				width: 90vw;
				background-size: cover;
				border: solid 2px white;
				.parrafo{
					width: 85vw;
					margin: 2vh;
				}
			}
		}		

	}
	// --------------------------------------------  Celulares apaisados
	@media only screen and (min-width: 480px) and (max-width: 767px){
		body{
			.main__portada{
				width: 30vw;
			}
			.biografia{
				width: 80vw;
				background-image: url(../media/biosmall.jpg);
				background-size: cover;
				border: solid 10px white;
					.parrafo{
						width: 60vw;
					}
			
			}

		}
	}

	// ------------------  IPad
	@media only screen and (min-width: 768px) and (max-width: 1023px){
		body{
			background-image: url(../media/index-cel.JPG);
			.main__portada{
				width: 30vw;
			}
			.carousel{
				width: 50vw;
			}
			h5, p{
				font-size: 1.2em;
			}
			.header__navstyle{
				letter-spacing: 2px;
			}
			.biografia{
				height: 70vh;
				background-position: center;
				.parrafo{
					width: 75vw;
					p{
						font-size: 1em;
					}
				}
			}
			.contacto{
				height: 70vh;
			}
		}
	}


	// -------------------  PC, Notebooks, IPad Pro, IPad apaisado
	@media only screen and (min-width: 1024px) and (max-width: 1279px){
		body{
			.main__portada{
				width: 30vw;
			}
			.shop{
				.shop__img{
					width: 20vw;
				}
			}
			.biografia{
				height: 70vh;
				width: 80vw;
				background-position: center;
					.parrafo{
						width: 60vw;
					}
				}
			.contacto{
				height: 60vh;
			}
		}
	}
		


	// --------------------  Ipad Pro apaisado, PC XL
	@media only screen and (min-width: 1280px) and (max-width: 1439px){
		body{
			.main__portada{
				width: 25vw;
			}
			.biografia{
				height: 75vh;
				width: 50vw;
					.parrafo{
						//width: 30vw;
					}
				}
			.contacto{
				height: 60vh;
			}
		}

	}

	// --------------------  PC XXL
	@media only screen and (min-width: 1440px){
		body{
			.main__portada{
				width: 20vw;
			}
			.shop{
				.shop__img{
					width: 15vw;
				}
			}
			.biografia{
				height: 70vh;
				width: 40vw;
					.parrafo{
						//width: 30vw;
					}
				}
			.contacto{
				height: 60vh;
			}

			}
	}

